body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --light-gray: #9f9f9f;
  --light-gray-hover: #e6e6e6;
  --dark-gray: #313131;
  --dark-gray-hover: #7e7e7e;
  --orange: #f69906;
  --orange-hover: rgb(272, 180, 32);
  --white: #f8f8f8;
}
